@import url('https://fonts.googleapis.com/css2?family=Mukta&display=swap');

.Password {

    background-image:
        linear-gradient(to bottom, rgba(247, 247, 130, 0.5), rgba(35, 35, 168, 0.603)),
        url("../../public/static/images/fondecran_rse3.jpg");
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
}

.FormPassword {
    margin: 10px;
    width: 365px;
    border-radius: 25px !important;
    background-color: white;
    border: 1px solid #ffc331 !important;
    text-align-last: center;
    margin-left: auto;
    margin-right: auto;

}

.PasswordTitle {
    font-family: 'Chewy';
    text-align: center;
    margin-top: 50px;
    font-size: 15px;
}
.PasswordText {
    font-family: 'Roboto';
    text-align: center;
    justify-content: center;
    display: flex;
    margin: 0 0 0 0;
    padding: 0 20px 0 20px;
    font-weight: lighter;
}

.FormStylePassword {
    border-radius: 25px !important;
    width: 90% !important;
    margin:10px !important;
}

.ButtonPassword {
    background-color: #ffc331 !important;
    margin: 10px auto 20px auto !important;
    font-family: 'Chewy' !important;
    color: black !important;
    border-radius: 25px !important;
}
